body { 
  margin:0;
  position:fixed;
  top:0;right:0;bottom:0;left:0;
  background: #ececec;

}
#container {
  position: relative;
  z-index: 100;
}
#sticky { 
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 50%; 
  z-index: 150;
}
.panel {
  padding-left: 20px;
  padding-top: 25vh;
  padding-bottom: 25vh;

  margin: 0 0 35em 10em;
    padding: 0.6em 2.5em 0.3em 2.5em;
    border-radius: 1em;
    background: #fff;
    width: 25em;
    z-index: 600;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}


}
.panel p {
  /*padding-right: 50%;*/
}
.panel:first-child {
  margin-top: 8em;

}
.panel:last-child {

}

.tooltip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    z-index: 1000000000;
    text-align: left;
    width: auto;
    color: #353535;
    visibility: hidden;
    pointer-events: all;
    border: 1px solid rgba(193, 193, 193, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    background: white;
    padding: 0.75em;
    height: auto;
}
.counties {
  stroke-linecap: round;
    stroke-width: 2px;  
}
.county {
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: black;

 
}
.county.hover {

  cursor: pointer;
}

.county-border {
    
  stroke: white;
  stroke-width: 0.5px;
  fill: none;

}
.tooltip-header {

   text-align: left;

}
.county-name {
     font-weight: 700;
}
.candidate-name {
  text-align: right;

}

.tot-registered-voters {
  font-size: 10px;
  opacity: 0.8;
}
.election-labels{ 
  position: relative;
  overflow: auto;
  height: 15px;
  top: 10px;


      border-bottom: 1px solid #cdcdcd;

}
.election-label {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;


}

.annotation-label {
  font-family: "Roboto";
  text-transform: uppercase;
  color: #535353;
  font-size: 12px;
  font-weight:900;
  opacity: 0.8;


}

.annotation-number {
  font-family: "Roboto";
  color: #535353;
  font-size: 24px;
  font-weight:900;
  

}

.big-city {
  fill: none;
  stroke: black;
  pointer-events: none;
}

.big-city-name {
  font-family: "Roboto";
  font-size: 10px;
  color: black;
  text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #ffffff, 1px 1px 1px #ffffff, -1px -1px 1px #ffffff;
  pointer-events: none;
}

  

h1 {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

p {
  font-family: "Merriweather";
  font-size: 18px;
  line-height: 1.7;
}


.demographicstitle {
  font-size: 10px;
  color: #323232;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5px;

}
.demographicslabels {
  position: relative;
   margin-top: 5px;
   height: 15px;
     border-bottom: 1px solid #cdcdcd;
}

.demographic-label {
  display: inline-block;
  position: absolute;
   font-size: 10px;
  opacity: 0.8;
}

.demographicsvalues {
  position: relative;
  margin-top: 3px;
  margin-bottom: 15px;
}
.demographic-value {
   position: absolute;
   font-family: "Roboto";
   font-size: 12px;
   text-align: center;


}